/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav, output, ruby, section,
summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0;}

/* HTML5 display-role reset for older browsers *//* after_qbici */

article, aside, details, figcaption, figure, footer, header, menu, nav, section, main {display: block;}/* owmen17 */

ol, ul {list-style: none;}
blockquote, q {quotes: none;}
img{max-width: 100%; height: auto;}
a{text-decoration: underline;}
/* bizlife_inc */
*::-webkit-input-placeholder {color:#464646;opacity: 1;}
*:-moz-placeholder {color:#464646;opacity: 1;}
*::-moz-placeholder {color:#464646;opacity: 1;}
*:-ms-input-placeholder {color:#464646;opacity: 1;}
*{margin: 0; padding: 0;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
button,input{outline: none;}
.center{text-align: center;}
@font-face {
    font-family: 'Akrobat-Black';
    src: url('fonts/Akrobat-Black.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Akrobat-Regular';
    src: url('fonts/Akrobat-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
h1,h2,h3,h4,h5,h6{text-transform: uppercase; text-align: center;}
html{
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
li:before{content: '';display: block;background-repeat: no-repeat;}
body{
    position: relative;
    width: 100%;
    min-width: 320px;
    padding: 0px;
    margin: 0px auto;
    font-family: 'Fira Sans', 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5em;
    color: #ffffff;
    background: #fafafa;
}
.main-wrap{
    position: relative;
    width: 480px;
    margin: 0px auto;

}
.section, .container{
    position: relative;
}
.section{
    padding: 30px 20px;
}
.button-m{
    position: relative;
    display: block;
    width: 400px;
    height: 85px;    
    cursor: pointer;
    border: 0;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: #a0cc19;
    -webkit-box-shadow: 0 5px 8px rgba(0,0,0,.29), inset 0 0 5px rgba(160,204,25,.6);
    -moz-box-shadow: 0 5px 8px rgba(0,0,0,.29), inset 0 0 5px rgba(160,204,25,.6);
    box-shadow: 0 5px 8px rgba(0,0,0,.29), inset 0 0 5px rgba(160,204,25,.6);
    background-image: -webkit-linear-gradient(bottom, #f2005b, #ff297a);
    background-image: -moz-linear-gradient(bottom, #f2005b, #ff297a);
    background-image: -o-linear-gradient(bottom, #f2005b, #ff297a);
    background-image: -ms-linear-gradient(bottom, #f2005b, #ff297a);
    background-image: linear-gradient(to top, #f2005b, #ff297a);
    margin: 0 auto;    
    text-align: center;
    font: 36px 'Akrobat-Black';
    text-transform: uppercase;
    line-height: 85px;
    letter-spacing: 0.075em;
    color:#fff;
    text-decoration: none;
    z-index:1;
}
.button-m:hover{
    background-color: #ff5b99;
    background-image: -webkit-linear-gradient(bottom, rgba(242,0,91,.75), rgba(255,41,122,.75));
    background-image: -moz-linear-gradient(bottom, rgba(242,0,91,.75), rgba(255,41,122,.75));
    background-image: -o-linear-gradient(bottom, rgba(242,0,91,.75), rgba(255,41,122,.75));
    background-image: -ms-linear-gradient(bottom, rgba(242,0,91,.75), rgba(255,41,122,.75));
    background-image: linear-gradient(to top, rgba(242,0,91,.75), rgba(255,41,122,.75));
}
.m1-form>div{
    position: relative;
    padding-bottom: 15px;
}
.m1-form>div:last-child{
    padding-bottom: 0;
}
.m1-form input{
    position: relative;
    display: block;
    outline: 0;
    border: 0;
    margin: 0 auto;
    width: 100%;
    height: 70px;
    line-height: 70px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 25px;
    background-color: #fff;
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.35);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.35);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.35);
    border: solid 1px #fff;
    color:#464646;
    font:300 22px 'Fira Sans'; 
    text-align: center; 
}
b{font:italic 500 16px 'Fira Sans';}
h1{
    font:44px 'Akrobat-Black';
    letter-spacing: 0.05em;
    color: #505050;
}
h2{
    font: 30px 'Akrobat-Black';  
    letter-spacing: 0.05em;
    color: #222222;
}
.countbox{
    margin: 0 auto;
    line-height: 1.2; 
    font-size: 30px; 
    width: 344px; 
    text-align: center;
    color: #fff;
}
.countbox .countbox-num{
    float: left;
    width: 108px;
    height: 56px;
    position: relative;
    color: #fff;
}
.countbox .countbox-space{
    float: left; 
    width: 10px;
    line-height: 56px;
 }
.countbox .countbox-space:before{
    content: '\003A'; 
    font:30px 'Akrobat-Black';
}
.countbox-hours1,.countbox-mins1,.countbox-secs1, .countbox-hours2,.countbox-mins2,.countbox-secs2{
    float: left; 
    width: 46px;
    height: 50px;
    text-align: center;
    background: #f60c64;
    z-index:1;
    font:30px 'Akrobat-Black';
    color: #fff;
    line-height: 50px;
    margin: 6px 4px;
}
.countbox-hours-text,.countbox-mins-text,.countbox-secs-text{
    font-size: 14px;
    text-transform: lowercase;
}