/*@font-face {
	font-family: 'GillSans';
	src: url('fonts/GillSans.eot');
	src: url('fonts/GillSans.eot?#iefix') format('embedded-opentype'),
		url('fonts/GillSans.woff') format('woff'),
		url('fonts/GillSans.ttf') format('truetype'),
		url('fonts/GillSans.svg#GillSans') format('svg');
	font-weight: normal;
	font-style: normal;
}*/

@font-face {
  font-family: 'GillSansSemiBold';
  src: url('fonts/GillSans-SemiBold.eot?#iefix') format('embedded-opentype'),  url('fonts/GillSans-SemiBold.woff') format('woff'), url('fonts/GillSans-SemiBold.ttf')  format('truetype'), url('fonts/GillSans-SemiBold.svg#GillSans-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GillSansLight';
  src: url('fonts/GillSans-Light.eot?#iefix') format('embedded-opentype'),  url('fonts/GillSans-Light.woff') format('woff'), url('fonts/GillSans-Light.ttf')  format('truetype'), url('fonts/GillSans-Light.svg#GillSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GillSans';
  src: url('fonts/GillSansC.eot?#iefix') format('embedded-opentype'),  
	     url('fonts/GillSansC.woff') format('woff'), url('fonts/GillSansC.ttf')  format('truetype'), url('fonts/GillSansC.svg#GillSansC') format('svg');
  font-weight: normal;
  font-style: normal;
}
