/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav, output, ruby, section,
summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0;}

/* HTML5 display-role reset for older browsers *//* after_qbici */

article, aside, details, figcaption, figure, footer, header, menu, nav, section, main {display: block;}/* owmen17 */

ol, ul {list-style: none;}
blockquote, q {quotes: none;}
img{max-width: 100%; height: auto;}
a{text-decoration: underline;}
a:hover{cursor: pointer;}
/* bizlife_inc */
*::-webkit-input-placeholder {font: 24px 'MuseoSansCyrl-100'; color: #545454; opacity: 1; text-align: center; letter-spacing: 0.025em;}
*:-moz-placeholder {font: 24px 'MuseoSansCyrl-100'; color: #545454; opacity: 1; text-align: center; letter-spacing: 0.025em;}
*::-moz-placeholder {font: 24px 'MuseoSansCyrl-100'; color: #545454; opacity: 1; text-align: center; letter-spacing: 0.025em;}
*:-ms-input-placeholder {font: 24px 'MuseoSansCyrl-100'; color: #545454; opacity: 1; text-align: center; letter-spacing: 0.025em;}
*{margin: 0; padding: 0;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
button,input{outline: none;}

.hidden{display: none;}
.clear{clear: both;height: 0px;}
.invis{display: none;}
.left{float: left;}
.right{float: right;}
.center{text-align: center;}
.clearfix:after{content: '';display: block;clear: both;}

html{
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body{
    position: relative;
    width: 100%;
    min-width: 320px;
    padding: 0px;
    margin: 0px auto;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 300;
    color: #333;
    overflow-x:hidden;
    background: #edefee;
}
.main-wrap{
    position: relative;
    width: 480px;
    height: auto;
    margin: 0px auto;
    background: url('../img/bg.png');
    background-position: center top;
}
.section, .wrap, .container{
    position: relative;
}
.section{
    position: relative;
    padding: 15px 20px 25px;
}
.button-m{
    position: relative;
    display: block;
    width: 400px;
    height: 80px;
    font:26px 'MuseoSansCyrl-500';
    line-height: 80px;
    letter-spacing: 0.05em;
    margin: 0 auto;
    outline: none;
    border: 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer; 
    color:#ffffff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #ec640e; 
}
form input{
    position: relative;
    display: block;
    outline: 0;
    margin: 0 auto 20px auto;
    width: 399px;
    height: 70px;
    -webkit-border-radius: 28px/27px;
    -moz-border-radius: 28px/27px;
    border-radius: 28px/27px;
    background-color: #fff;
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.35);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.35);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.35);
    border: solid 1px #fff;
    font: 24px 'MuseoSansCyrl-100'; 
    color: #545454;
    text-align: center; 
    letter-spacing: 0.025em;
}
h2{
    font:22px 'MuseoSansCyrl-300';  
    letter-spacing: 0.025em;
    line-height: 34px;
    color:#fff;
    text-transform: uppercase;
}
h2 b,h2.zag{
    font:30px 'MuseoSansCyrl-900';  
    line-height: 34px;
    color:#fff;
}
h2 span{
    font-size:18px;
    letter-spacing: 0.025em;
}
h4{
    color:#222222;
    font: 20px 'MuseoSansCyrl-900';    
    text-transform: uppercase;
    line-height: 36px;
    letter-spacing: 0.01em;
    padding-bottom: 3px;
}
h5{
    color:#000000;
    font: 24px 'MuseoSansCyrl-500';    
    text-transform: uppercase;
    line-height: 17px;
    letter-spacing: 0.025em;
    padding:17px 0px 19px 0;
}
.countbox{
    margin: 0 auto;
    line-height: 1.2; 
    font-size: 30px; 
    width: 404px; 
    font-weight: 400;
    text-align: center;
    color: #235569;
}
.countbox .countbox-num{
    float: left;
    width: 120px;
    height: 60px;
    line-height: 46px;
    position: relative;
    color: #fff;
}
.countbox .countbox-space{
    float: left; 
    line-height: 44px;
    margin: 8px 6px 0 7px;

 }
.countbox .countbox-space:before{
    content: '\003A'; 
    font:30px 'MuseoSansCyrl-900';
    color:#ffffff;
    line-height: 36px;}
.countbox-hours1,.countbox-mins1,.countbox-secs1{
    float: left; 
    width: 54px;
    height: 60px;
    text-align: center;
    background:#ec640e;
    z-index:1;
    font:30px 'MuseoSansCyrl-900';
    color:#ffffff;
    line-height: 36px;
    padding-top: 14px;
    margin: 3px 0px;
}
.countbox-hours2,.countbox-mins2,.countbox-secs2{
    float: left; 
    width: 54px;
    height: 60px;
    text-align: center;
    background:#ec640e;
    z-index:1;
    font:30px 'MuseoSansCyrl-900';
    color:#ffffff;
    line-height: 36px;
    padding-top: 14px;
    margin: 3px 0 0 10px;
}
.countbox-hours-text,.countbox-mins-text,.countbox-secs-text{
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 66px;
    height: 18px;
    width: 120px;
    font: 16px 'MuseoSansCyrl-100';
    padding: 0 8px 4px;
    color: #ffffff;
    text-transform: lowercase;
}